<div id="example_ogp" class="service">
  <div class="service_block">
    <div class="card">
      <div class="row service_name_block">
        <img src="<%= results[:meta_favicon] %>" class="col s2">
        <h3 class="col s10 service_name"><%= results[:meta_title] %></h3>
      </div>
      <div class="thumbnail card-image">
        <img src="<%= results[:meta_ogpimg] %>" class="ogp_img">
      </div>
      <div class="card-content">
        <p class="service_title card-title"><%= results[:meta_title] %></p>
        <p class="description"><%= results[:meta_description] %></p>
        <% results[:meta_keyword].each do |keyword| %>
          <span class="chip"><%= keyword %></span>
        <% end %>
        <p class="domain"><a href="<%= results[:meta_url] %>" target="_blank"><%= results[:meta_domain] %></a></p>
      </div>
    </div>
  </div>
</div>


