<div id="ogp_result" class="service">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <div class="service_block">
    <div class="card">
      <div class="thumbnail card-image">
        <img src="<%= results[:meta_ogpimg] %>" class="ogp_img">
      </div>
      <div class="card-content">
        <p class="service_title card-title"><%= results[:meta_title] %></p>
        <p class="description"><%= results[:meta_description] %></p>
        <% results[:meta_keyword].each do |keyword| %>
          <span class="chip"><%= keyword %></span>
        <% end %>
        <p class="domain">
          <img src="<%= results[:meta_favicon] %>" class="favicon">
          <a href="<%= results[:meta_url] %>" target="_blank"><%= results[:meta_domain] %></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="loading">
  <img src="loading.gif">
</div>

<%= form_tag(service_create_path, method: :post) { %>
  <%= hidden_field :service,:name,:value => results[:meta_title] %>
  <%= hidden_field :service,:url,:value => results[:meta_url],:id=>"ogp_val"  %>
  <%= hidden_field :service,:domain,:value => results[:meta_domain] %>
  <%= hidden_field :service,:title,:value => results[:meta_title] %>
  <%= hidden_field :service,:description ,:value => results[:meta_description] %>
  <%= hidden_field :service,:favicon,:value => results[:meta_favicon] %>
  <%= hidden_field :service,:ogpimg,:value => results[:meta_ogpimg] %>
  <%= hidden_field :meta,:keyword,:value => results[:meta_keyword] %>
  <%= submit_tag "追加する",class: 'btn' if @can_add %>
<% } %>
