<div class="search_ogp">
  <div id="request_ajax_update" >
    <%= form_tag(service_metaget_path, method: :post, remote: true, class: "row") { %>
      <%= text_field :data, :text ,:class => "col s9",:placeholder => "https://example.com" %>
      <%= submit_tag '調べる' ,:class => "btn col s3 search_btn",:disabled => true %>
    <% } %>
  </div>

  <div id="example_ogp" class="service">
    <div class="service_block">
      <div class="card">
        <div class="thumbnail card-image">
          <img src="assets/noimage.png" class="ogp_img">
        </div>
        <div class="card-content">
          <p class="service_title card-title">MetaGallery</p>
          <p class="description">MetaGalleryです。</p>
          <span class="chip">MetaGallery</span>
          <span class="chip">メタギャラリー</span>
          <p class="domain">
            <img src="assets/noimage.png" class="favicon">
            <a href="http://www.metagallery.jp/" target="_blank">www.metagallery.jp</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="gallery">ギャラリー</h2>
  <div class="ziguzagu_block">
    <img src="ziguzagu.png">
  </div>
<div id="service_index">
  <% @services.each do |service| %>
    <div class="grid service">
      <div class="service_block">
        <div class="card">
          <div class="thumbnail card-image">
            <img src="<%= service.ogpimg %>" class="ogp_img">
          </div>
          <div class="card-content">
            <p class="service_title card-title"><%= service.title %></p>
            <p class="description"><%= service.description %></p>
            <% service.keywords.each do |keyword|  %>
              <span class="chip"><%= keyword.name %></span>
            <% end %>
            <p class="domain">
            <img src="<%= service.favicon %>" class="favicon">
            <a href="<%= service.url%>" target="_blank"><%= service.domain %></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
