<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <title>サイトのMetaTag一覧 | メタギャラリー</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <meta name=”description” content="自分の誕生日が何曜日か、その曜日と誕生日が一致するのは何歳の時か調べるサイトです。" />
    <link rel="shortcut icon" type="img/x-icon" href="favicon.ico">

    <meta property="og:title" content="サイトのMetaTag一覧 | メタギャラリー" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= root_url%>" />
    <meta property="og:image" content="<%= root_url%>ogp_img.png" />
    <meta property="og:site_name"  content="サイトのMetaTag一覧 | メタギャラリー" />
    <meta property="og:description" content="様々なサイトの「title」「meta description」「meta keyword」「ogp画像」「favicon」「ドメイン」を見ることが出来るサービスです。知りたいサイトのはURLを入力して、調べてみましょう。ぜひ他社のサイトを参考にしてご自身のサイトにご活用してみて下さい。" />

    <!-- //Facebook用 -->
    <meta property="fb:app_id" content="220809312107669" />
    <meta property="article:publisher" content="<%= root_url%>" />

    <!-- //Twitter用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hatsu" />
    <meta name="twitter:title" content="サイトのMetaTag一覧 | メタギャラリー" />
    <meta name="twitter:url" content="<%= root_url%>" />
    <meta name="twitter:description" content="様々なサイトの「title」「meta description」「meta keyword」「ogp画像」「favicon」「ドメイン」を見ることが出来るサービスです。知りたいサイトのはURLを入力して、調べてみましょう。ぜひ他社のサイトを参考にしてご自身のサイトにご活用してみて下さい。" />
    <meta name="twitter:image" content="<%= root_url%>ogp_img.png" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-simplyscroll/2.1.1/jquery.simplyscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <i class="fas fa-code"></i>
      <h1>Metagallery</h1>
    </header>
    <%= yield %>
    <footer>
      <h2>シェアする</h2>
      <div class="ziguzagu_block">
        <img src="ziguzagu.png">
      </div>
      <!-- <div class="footer_border_top"></div> -->
      <ul class="sns_block row">
        <li class="col s4">
          <div class="twitter sns">
            <a href="https://twitter.com/share?url=<%= root_url %>&text=サイトのMetaTag一覧 - メタギャラリー" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="facebook sns">
            <a href="https://www.facebook.com/share.php?u=<%= root_url %>&text=サイトのMetaTag一覧 | メタギャラリー" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="hatena sns">
            <a href="http://b.hatena.ne.jp/entry/<%= root_url %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加" target="_blank">
              B!
            </a>
          </div>
        </li>
      </ul>
      <div class="info_block">
        <a href="https://twitter.com/hatsu_38" target="_blank"><i class="fas fa-play-circle"></i>運営者</a>
      </div>
      <p class="footer_copy">
      © Copyright 2018 hastu All rights reserved.
      </p>
    </footer>
    <button data-target="contact_form" class="btn modal-trigger right contact_modal_btn"><i class="far fa-envelope"></i>ご意見箱</button>
    <div id="contact_form" class="modal">
      <h3 class="title">ご意見・ご感想はこちら</h3>
      <div class="contact_message_block">
        <p class="contact_message">カフェペディアをご利用頂きありがとうございます。</p>
        <p class="contact_message">カフェペディアをより使いやすいサービスにするため、ご意見を募集しております。</p>
        <p class="contact_message">ご不明点やご意見がございましたら、フォームよりご連絡ください。メッセージはすべて匿名で送られますのでご安心ください。</p>
      </div>
      <%= form_tag(service_contact_path, method: :post, remote: true, class: "row") { %>
        <div class="input-field message_form">
          <i class="fas fa-pencil-alt prefix"></i>
          <%= text_area :contact, :message,:class => "materialize-textarea", :id => "icon_prefix2", :placeholder => "" %>
          <label for="icon_prefix2">ご意見をご記入ください</label>
        </div>

        <div class="input-field message_form">
          <i class="far fa-envelope prefix"></i>
          <%= text_field :contact, :email,:class => "", :id => "icon_prefix2",:placeholder => "example@cafepedia.com" %>
          <label for="icon_prefix2" class="mail_label">返信を希望する場合はメールアドレスをご記入ください</label>
        </div>
        <div class="submit_btn_cover center">
          <%= submit_tag '送信する' ,:class => "btn contact_send_btn"%>
        </div>
      <% } %>
    </div>
  <script>
$(function(){
  $(document).ready(function(){
    $('.modal').modal();
  });
});
  </script>
  </body>
</html>
